 <!--Navbar-->
    <nav class="navbar navbar">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <i class="fa fa-reddit fa-2x" aria-hidden="true"></i>
                <span>Scrapper</span></a>

        <div class="icon-bar">
             <a  href="/"><i class="fa fa-home fa-3x"></i></a> 
             <a href="https://github.com/psingh24" target="_blank"><i class="fa fa-github fa-3x"></i></a> 
        </div>
    </div>
    </nav>