<div class="container">
    <div class="jumbotron">Test</div>

    <div class="row">
        <form action="/" method="POST">
            <p>Reddit.com/r/<input type="text" name="searchTerm"></p>
            <button>Scrape</button>
        </form>
    </div>


<div><p>Posts:</p>
<ul>
{{#each data.article}}
<li>{{this.title}}</li>


{{/each}}
</ul>

<div id="articles"></div>
</div>
    
</div>